<h1>Students</h1>

<ul>
	<li><%=link_to "Harsh", harsh_students_path %></li>
		<br>
	<li><%=link_to "Michael", michael_students_path%></li>
	<br>
	<li><%=link_to "Kaoru", kaoru_students_path%></li>
	
	
</ul>

